<!--Footer Navigation Section-->
<nav class="navbar fixed-bottom" style="background-color: rgba(31, 41, 55)">
  <div class="container-fluid" style="display: flex; justify-content: center">
    <h6 class="display-6 navbar-text">
      &copy; Copyright 2020 All rights reserved.
    </h6>
  </div>
</nav>
