<!--Flash Messages-->
<%- include header.ejs %> <% if(messages.length > 0) {%>
<div
  class="alert alert-danger alert-dismissible fade show mb-1 text-center"
  role="alert"
>
  <strong> <%= messages %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <%- include footer.ejs %>
