<%- include partials/header.ejs %> <%- include partials/mainNav.ejs %>

<div class="container" style="margin-top: 5%; margin-bottom: 2%">
  <div style="display: flex">
    <div style="margin-top: 5rem">
      <!-- About me-->
      <h1>Hello, I'm Balachander Rao Palepu</h1>
      <h1 class="display-5" style="font-weight: 600; color: #007bff">
        I MAKE THINGS LOOK GOOD.
      </h1>
      <p style="color: gray;">
        I'm a Software Developer from Hyderabad. I create both web & mobile
        applications.Currently pursuing Masters Degree in Software Engineering
        Technology and Artificial Intelligence from Centennial College.
      </p>
      <a href="/Assets/images/BaluResume.pdf" class="btn btn-primary"
        >Download Resume</a
      >
    </div>
    <div class="container">
      <img
        src="/Assets/images/image.JPG"
        alt="photo"
        class="img-fluid"
        style="border-radius: 60%; height: 26rem"
      />
    </div>
  </div>
</div>

<%- include partials/footerNav.ejs %> %> <%- include partials/footer.ejs %>
