<%- include partials/header.ejs %> <%- include partials/mainNav.ejs %>

<div class="container" style="margin-top: 6%; margin-bottom: 2%">
  <div style="display: flex">
    <div style="margin-top: 5rem">
      <!-- About me-->
      <h2 class="my-2">Hello, I'm Balachander Rao Palepu</h2>
      <h1 class="display-5 my-3" style="font-weight: 600; color: #ffb700">
        I MAKE THINGS LOOK GOOD.
      </h1>
      <p style="color: gray; line-height: 1.75rem" class="my-3">
        I'm a Software Developer from Hyderabad. I create both web & mobile
        applications.Currently pursuing Masters Degree in Software Engineering
        Technology and Artificial Intelligence from Centennial College.I would
        love to improve understanding through better perspercitve.
      </p>
      <a
        href="/Assets/images/BaluResume.pdf"
        class="btn btn-warning my-2"
        style="color: white; font-weight: 500"
        >Download Resume</a
      >
    </div>
    <div class="container">
      <img src="/Assets/images/image.JPG" alt="photo" class="img-fluid" />
    </div>
  </div>
</div>

<%- include partials/footerNav.ejs %> %> <%- include partials/footer.ejs %>
