<%- include partials/header.ejs %> <%- include partials/mainNav.ejs %>

<!--Home Page-->
<main
  class="container"
  style="display: flex; margin-top: 5%; margin-bottom: 2%"
>
  <!--Mission Statement-->
  <div style="margin-top: 9rem">
    <h1>
      hello<span style="color: #ffb700">&</span>welcome<br />Iloveto<span
        style="color: #ffb700"
        >design</span
      >&<br />Ilovetocreate<span style="color: #ffb700">visualstories</span
      >that<br /><span style="color: #ffb700">educate</span>&<span
        style="color: #ffb700"
        >entertain.</span
      >
    </h1>
    <a class="btn btn-warning my-3" style="color: white" href="/about"
      >more about me</a
    >
  </div>

  <!-- Illustration taken from Lucid Illustrations: https://lucid.pixsellz.io/ -->
  <!-- Image from tailwindui coponents-->
  <img
    class="image-fluid"
    style="margin-left: 4.75rem"
    src="https://tailwindui.com/img/component-images/cloud-illustration-indigo-400.svg"
    alt=""
  />
</main>

<%- include partials/footerNav.ejs %> %> <%- include partials/footer.ejs %>
