/* Changes to App.css
Balachander Rao Palepu, 301170247, 07-02-2021
*/


body {
  padding: 0;
  background-color: rgba(31, 41, 55);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
